body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 100%;
}

.background-img {
  width: 100%;
  height: 100%;
  position: fixed;
  filter: blur(5px);
}

.content-wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  position: relative;
}

.header__wrapper {
  background-color: #ffffff;
  padding: 30px 20px;
}

.header__logo-link {
  width: 155px;
  height: 35px;
}

.header__nav {
  display: inline-block;
  margin: 0;
}

.header__list {
  list-style-type: none;
  margin-bottom: 0;
  line-height: 2em;
}

.header__link {
  display: inline;
}

.header__link-item:link,
.footer__nav-link-item:link,
.header__link-item:visited,
.footer__nav-link-item:visited {
  padding: 0 12px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.header__link-item:hover,
.footer__nav-link-item:hover,
.header__link-item:active,
.footer__nav-link-item:active {
  color: #008c95;
  text-decoration: underline;
}

.about-us {
  background-color: #ffffff;
  padding: 30px 20px;
}

.about-us__description {
  font-size: 14px;
  text-transform: lowercase;
}

.our-program {
  background-color: #008c95;
  padding: 30px 20px;
}

.our-program__description {
  font-size: 14px;
  color: #ffffff;
  text-transform: lowercase;
}

.about-me {
  padding: 50px 20px;
  background-color: #ffffff;
}

.about-me__title {
  margin-bottom: 50px;
}

.about-me__input-wrapper {
  margin: 20px 0;
}

.input {
  display: block;
  width: 70%;
  height: 40px;
  border: 1px solid rgb(175, 175, 175);
  font-size: 14px;
  color: #000;
  padding-left: 5px;
  outline: none;
}

.label {
  display: block;
  font-size: 10px;
  margin-top: 5px;
  color: tomato;
}

.valid {
  color: #007000;
}

.about-me__button {
  font-size: 16px;
  color: #ffffff;
  background-color: #008c95;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.footer__wrapper {
  background: #eef1f2;
  margin-bottom: 70px;
}

.footer__nav-menu {
  display: inline;
}

.footer__logo {
  display: inline;
  position: relative;
  right: -10rem;
  line-height: 5rem;
}

.footer__nav-list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.footer__nav-link {
  display: inline;
}

.button-click-result__wrapper {
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #008c95;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 580px;
  opacity: 1;
  transition: all 500ms ease-out;
}

.button-click-result__list {
  list-style-type: none;
}

.button-click-result__item {
  width: 90%;
  height: auto;
  padding: 10px;
  border: 1px solid #008c95;
  border-radius: 5px;
  font-size: 14px;
  margin: 20px 0;
}

.blocks-scrolling {
  display: inline-block;
  position: fixed;
  bottom: 60px;
  right: 300px;
}

.blocks-scrolling__about-us,
.blocks-scrolling__program,
.blocks-scrolling__about-me {
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  background-color: #008c95;
  border-radius: 5px;
  border: 1px solid #008c95;
}

.blocks-scrolling__name {
  padding: 0;
  margin: 0;
  text-align: center;
}

.blocks-scrolling__link {
  height: inherit;
  color: #fff;
  text-decoration: none;
}

.off {
  background-color: #ffffff;
  color: #008c95;
}

/* -----media requests------ */
@media (max-width: 1574px) {
  .blocks-scrolling {
    position: absolute;
    top: 700px;
    right: 10px;
  }
}

@media (max-width: 855px) {
  .blocks-scrolling {
    position: absolute;
    top: 900px;
    right: 10px;
    height: 220px;
  }

  .content-wrapper {
    width: 95%;
  }

  .header__list {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .blocks-scrolling {
    display: none;
  }

  .header__nav {
    display: block;
  }

  .header__list {
    padding-left: 0;
    text-align: left;
  }

  .header__link {
    display: block;
  }

  .input {
    display: inline-block;
    width: 90%;
  }

  .footer__nav-link {
    display: block;
  }

  .footer__logo {
    display: block;
    position: inherit;
    padding-left: 10px;
  }
}